<h2>What is Metaphorphosis</h2>

<div class="about">
  <p>Metaphorphosis (ˌmedəˈfôrfəsəs) is an exploration into computational linguistics and generative literature.</p>
  <p>Simply put, metaphorphosis generates two statements, which may or may not be well-formed and/or non-sensical. The user, then, may select one of the statements. The unselected statement is removed from the page and replaced by a newly generated phrase on the same topic. The user then chooses again, repeating the process for as long as they like.</p>
  <p>The statements (originally metaphors) are constructed around a handful of concepts chosen (by human agents) for their complexity, ambiguity, polysemy, or hard-to-define-ness. Hypernyms, hyponyms, and other terms that are semantically or statistically related to the original concept are drawn from the <a href="https://www.datamuse.com/">Datamuse API</a> and inserted into grammatical templates creating original statements that may or may not be entertaining or insightful.</p>
  <p>If any given statement is chosen a certain number of times consecutively, it is added to the <a routerLink="/halloffame">Hall of Fame</a>, where it may be seen and upvoted by other users. From there, clicking on a particular statement takes you to a diagram showing the journey of dichotomies taken to get to that point. It reveals the evolution, the metamorphosis, of the statements.</p>

</div>

<h2 class="about-us">About Us</h2>
<div class="card">
  <div class="img">
    <img src="../../assets/img/profile_pictures/jared.jpg" alt="Jared Eiseman">
  </div>
  <div class="bio">
    <h3>Jared Eiseman</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="card">
  <div class="img">
    <img src="../../assets/img/profile_pictures/charles.jpg" alt="Charles Emrich">
  </div>
  <div class="bio">
    <h3>Charles Emrich</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="card">
  <div class="img">
    <img src="../../assets/img/profile_pictures/brian.jpg" alt="Brian Rush">
  </div>
  <div class="bio">
    <h3>Brian Rush</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="card">
  <div class="img">
    <img src="../../assets/img/profile_pictures/andrew.jpg" alt="Andrew Glines">
  </div>
  <div class="bio">
    <h3>Andrew Glines</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
