@import '../../assets/style_partials/main';

h2 {
  margin-bottom: 50px;
  // text-align: center;

  &.about-us {
    margin-top: 80px;
  }
}

.about {
  p {
    margin-bottom: 10px;
  }
}

.card {
  width: 100%;
  min-height: 100px;
  margin: 0 auto 60px;

  &:after {
    display: table;
    content: '';
    clear: both;
  }

  .img {
    width: 100px;
    height: 100px;
    float: left;
    background: $pseudo-black;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &:nth-of-type(2n+1){
    text-align: right;

    .img {
      float: right;
      margin-right: 0;
      margin-left: 20px;
    }
  }
  .bio {
    h3 {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}
