@import '../../assets/style_partials/main';
// src/assets/style_partials/_main.scss

.selected {
  background: #fff;
  display: inline-block;
  padding: 10px;
  border: 1px solid $pseudo-black;
}

.selected, .abandoned {
  font-size: 20px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.abandoned {
  color: #999;
}

svg {
  z-index: -1;
}

.item-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
