<div class="container">
  <h2>You've Exhausted the Seeded Concepts in Metaphorphosis</h2>

  <h3>Check out the <a routerLink="/halloffame">Hall of Fame</a> to see how others chose their metaphors</h3>

  <h4>Or <a routerLink="/">Metaphorphasize</a> again to find new metaphors</h4>

  <div class="buttons">
    <button type="button" class="metaphorphasize" routerLink="/">Metaphorphasize Again</button>
    <button type="button" class="halloffame" routerLink="/halloffame">Hall of Fame</button>
  </div>
</div>
