h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0;
  margin-bottom: 30px;
}

h3 {
  margin-left: 20px;
}

h4 {
  margin-left: 40px;
}

a {
  text-decoration: underline;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 2px;

  &:hover {
    font-size: 1em !important;
    letter-spacing: 4px;
  }
}


.container {
  width: 100%;
  min-height: 100%;

  .buttons {
    margin-top: 200px;

    button {
      padding: 20px 0;
      width: 200px;
      font-size: 18px;
      border-radius: 5px;
      border: 1px solid black;
      background: #fff;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background: #000;
        color: #fff;
        border: 1px solid transparent;
      }

      &.metaphorphasize {
        float: left;
      }

      &.halloffame {
        float: right !important;
      }

    }
  }
}
