<div class="container">
  <header>
    <a routerLink=""><h1 id="text" class="title">Metaphorphosis</h1></a>
    <nav id="desktop-nav">
      <ul>
        <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
        <li *ngIf="!isLoggedIn"><a (click)="login()">Login</a></li>
        <li class="spacer">//</li>
        <li><a routerLink="/metaphors">Metaphors</a></li>
        <li class="spacer">//</li>
        <li><a routerLink="/halloffame">Hall Of Fame</a></li>
        <li class="spacer">//</li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </nav>
    <nav id="mobile-nav">
      <div class="burger" (click)="animateMe()">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <ul [@slide-mobile]="state">
        <span class="close-button" (click)="animateMe()">X</span>
        <div class="mobile-nav-content">
          <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
          <li *ngIf="!isLoggedIn"><a (click)="login()">Login</a></li>
          <li><a routerLink="/metaphors">Metaphors</a></li>
          <li><a routerLink="/halloffame">Hall Of Fame</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/about">Facebook</a></li>
          <li><a routerLink="/about">Twitter</a></li>
          <li><a routerLink="/about">Github</a></li>
        </div>
        <p class="mobile-copyright">&copy; 2017, Charles Emrich, Jared Eiseman, Andrew Glines, Brian Rush</p>
      </ul>
    </nav>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
    <span class="horizontal-accent"></span>
    <span class="vertical-accent"></span>
    <span class="left-vertical-accent"></span>
  </div>

  <footer>
    <div class="social">
      <i class="facebook"></i>
      <i class="twitter"></i>
      <i class="github"></i>
    </div>
    <span>&copy; 2017, Charles Emrich, Jared Eiseman, Andrew Glines, Brian Rush</span>
  </footer>
</div>
