@import '../assets/style_partials/main';

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 45px 0 5px;
  border-bottom: 1px solid $pseudo-black;
  margin-bottom: 50px;
  height: 50px;

  #desktop-nav {
    ul {
      list-style-type: none;

      li {
        display: inline-block;
      }

      .spacer {
        margin: 0 15px;
      }
    }


    display: none;
    @include tablet-bp {
      display: block;
    }
  }

  #mobile-nav {
    .burger {
      width: 45px;
      height: 40px;
      // border: 1px solid $pseudo-black;
      position: relative;
      cursor: pointer;
      // z-index: 20;

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 38px;
        left: 3.5px;
        background: $pseudo-black;

        &.top {
          top: 9px;
        }
        &.middle {
          top: 19px;
        }
        &.bottom {
          top: 29px;
        }
      }
    }

    @include tablet-bp {
      display: none;
    }

    ul {
      height: 100vh;
      width: 200px;
      position: fixed;
      top: 0;
      right: -200px;
      background: #fff;
      z-index: 2;
      list-style-type: none;
      padding: 15px;
      padding-top: 35px;
      border-left: 2px solid $pseudo-black;

      .close-button {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 36px;
        cursor: pointer;
      }

      .mobile-nav-content {
        margin-top: 10%;
        height: 90%;

        li {
          border-bottom: 1px solid $pseudo-black;
          margin-bottom: 20px;
          padding: 15px;

          a:hover {
            font-size: 20px !important;
            letter-spacing: .5px !important;
          }
        }
        // .mobile-copyright {
        //   position: absolute;
        //   left: 0;
        //   bottom: 30px;
        // }
      }
    }
  }
}

.content {
  flex-grow: 2;
  padding: 50px;
  position: relative;

  .horizontal-accent {
    width: 70%;
    border-bottom: 1px solid $pseudo-black;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: horizontal-pulse 4s 1s ease-in-out infinite alternate;
  }
  .vertical-accent {
    height: 50%;
    border-right: 1px solid $pseudo-black;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    animation: right-vertical-pulse 4s 1s ease-in-out infinite alternate;
  }
  .left-vertical-accent {
    height: 100%;
    border-right: 1px solid $pseudo-black;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: left-vertical-pulse 4s 1s ease-in-out infinite alternate;
  }
}

@keyframes right-vertical-pulse {
  0% {
    height: 50%;
  }
  100% {
    height: 55%;
  }
}
@keyframes left-vertical-pulse {
  0% {
    height: 100%;
  }
  100% {
    height: 90%;
  }
}
@keyframes horizontal-pulse {
  0% {
    width: 70%;
  }
  100% {
    width: 67%;
  }
}

footer {
  color: $pseudo-black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  border-top: 1px solid $pseudo-black;
  padding: 10px 0 15px;
  display: flex;
  justify-content: flex-start;

  .social {
    svg {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 15px;
      display: none;

    }

    // i {
    //   width: 40px;
    //   height: 40px;
    //   display: inline-block;
    //   margin-right: 15px;
    //   background-size: 40px 40px;
    //
    //   &.facebook {
    //     background-image: url('../assets/img/icons/facebook.svg')
    //   }
    //   &.twitter {
    //     background-image: url('../assets/img/icons/twitter.svg')
    //   }
    //   &.github {
    //     background-image: url('../assets/img/icons/github.svg')
    //   }
    // }
  }

  span {
    color: $pseudo-black;
    display: inline-block;
    font-size: 10px;
  }

  @include tablet-bp {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 18px;
    }
    .social {
      svg {
        display: inline-block;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////
// SAVE FOR POTENTIAL FUTURE USE//////////////////////////////////
////////////////////////////////////////////////////////////////////
// #text {
//   font-size: 60px;
//   font-weight: bold;
//   display: inline-block;
//   margin-top: 60px;
//   margin-left: 32px;
//   margin-bottom: 60px;
//   white-space: nowrap;
//   position: relative;
// }
//
// .letter {
//   position: relative;
//   margin-left: 10px;
//   opacity: 0;
// }
//
// .animate-top {
//   animation: slide-letter-in-from-top 1.5s ease-in-out forwards;
// }
//
// .animate-bottom {
//   animation: slide-letter-in-from-bottom 1.5s ease-in-out forwards;
// }
//
// .animate-left {
//   animation: slide-letter-in-from-left 1.5s ease-in-out forwards;
// }
//
// .animate-right {
//   animation: slide-letter-in-from-right 1.5s ease-in-out forwards;
// }
//
// @keyframes slide-letter-in-from-top {
//   0% {
//     top: -1000px;
//     opacity: 0;
//   }
//   90% {
//     top: 40px;
//     opacity: .3;
//   }
//   100% {
//     top: 0px;
//     opacity: 1;
//   }
// }
//
// @keyframes slide-letter-in-from-bottom {
//   0% {
//     bottom: -1000px;
//     opacity: 0;
//   }
//   90% {
//     bottom: 10px;
//     opacity: .3;
//   }
//   100% {
//     bottom: 0px;
//     opacity: 1;
//   }
// }
//
// @keyframes slide-letter-in-from-left {
//   0% {
//     left: -1000px;
//     opacity: 0;
//   }
//   90% {
//     left: 20px;
//     opacity: .3;
//   }
//   100% {
//     left: 0px;
//     opacity: 1;
//   }
// }
//
// @keyframes slide-letter-in-from-right {
//   0% {
//     right: -1000px;
//     opacity: 0;
//   }
//   90% {
//     right: 20px;
//     opacity: .3;
//   }
//   100% {
//     right: 0px;
//     opacity: 1;
//   }
// }
