<!-- <span [@left]>W</span><span [@right]>e</span><span [@top]>l</span><span [@bottom]>c</span><span [@left]>o</span><span [@right]>m</span><span [@top]>e</span><span [@bottom]>&nbsp;</span><span [@left]>T</span><span [@right]>o</span><span [@top]>&nbsp;</span> -->

<div class="landing-container">
  <h2>Welcome To <span [@bottom]>M</span><span [@left]>e</span><span [@right]>t</span><span [@top]>a</span><span [@bottom]>p</span><span [@left]>h</span><span [@right]>o</span><span [@top]>r</span><span [@bottom]>p</span><span [@left]>h</span><span [@right]>o</span><span [@top]>s</span><span [@bottom]>i</span><span [@left]>s</span></h2>
  <button routerLink="/metaphors">Metaphor Game</button><button routerLink="/halloffame">Hall Of Fame</button>
</div>
