.clicked {
  background-image: url('../../assets/img/icons/clicked.png');

  &:hover {
    background-image: url('../../assets/img/icons/unclicked.png');
  }
}

.unclicked {
  background-image: url('../../assets/img/icons/unclicked.png');

  &:hover {
    background-image: url('../../assets/img/icons/clicked.png');
  }
}

.clicked, .unclicked {
  background-size: 32px auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  cursor: pointer;
  transition: all .3s;
  position: relative;
}

h2 {
  margin-bottom: 50px;
}

.metaphor-title {
  cursor: pointer;
}

.metaphor {
  font-size: 20px;
  display: block;
  display: flex;
  align-items: center;
  margin: 15px 0;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 20px;

  .counter {
    position: absolute;
    left: 8px;
    top: 17px;
    font-size: 12px;
  }
}


.sort-container {
  height: 30px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;

  a {
    cursor: pointer;
  }
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;

  .previous, .next {
    width: 20%;
    & > span {
      cursor: pointer;
    }
  }
  .next {
    text-align: right;
  }

  .pages {
    width: 50%;
    display: flex;
    justify-content: center;

    & > span {
      cursor: pointer;
      margin: 0 20px;
    }
  }
}
