<div *ngIf="list">
  <div *ngFor="let item of list | async">
    <span *ngFor="let subItem of item" class="metaphor">
      <span [class]="determineClicked(subItem)" (click)="subItem.sessions[subItem.sessions.length - 1].counter = subItem.sessions[subItem.sessions.length - 1].counter + 1; saveUpdate(item); clickIcon(subItem);"></span>
        <span class="counter">{{subItem.sessions[subItem.sessions.length - 1].counter}}</span>
        {{subItem.sessions[subItem.sessions.length - 1].selectedMetaphor.metaphor}}
      </span>
  </div>
</div>
