/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:after, &:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

* {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 8px;
}

h1 {
  font-size: 1.5em;
}

html, body, app-root {
  height: 100%;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: font-size .3s, letter-spacing .3s;

  &:hover {
    font-size: 24px !important;
    letter-spacing: 3px;
  }
}
